/**************************************tag selectors***************************/

body {
    font-family: 'Merriweather', serif;
    color: #40514E;
    margin: 0px;
    text-align: center;
}

h1 {
    font-size: 5.62rem;
    font-family: 'Sacramento', cursive;
    margin-top: 50px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    margin: 20px;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 15%;
    border-width: 5px;
    margin: 100px auto;
}

p {
    line-height: 2;
}


/************************************class selectors***************************/

.top-container {
    padding-top: 100px;
    position: relative;
    background-color: #E4f9f5;
}

.middle-container {
    margin: 50px 0px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-container {
    background-color: #66BFBF;
    font-weight: bold;
    padding: 50px 0 20px;
}

.contact-me {
    margin-bottom: 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill1 {
    margin-right: 30px;
    float: left;
}

.skill2 {
    margin-left: 30px;
    float: right;
}

.contact-message {
    width: 47%;
    margin: 40px auto 60px;
}

.last {
    color: #EAF6F6;
    font-weight: normal;
    font-size: 0.75rem;
    padding: 20px 0;
}


/************************button*****************************/

.BUTTON_ZWV {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 22px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_ZWV:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}